header > .main > .wrapper > .content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100%;
}

header > .main > .wrapper > .content .info {
  margin-top: 80px;
  flex-grow: 1;
  max-width: 438px;
}

header > .main > .wrapper > .content .info span {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;

  text-transform: uppercase;
  letter-spacing: 0.125em;

  color: #181818;
}

header > .main > .wrapper > .content .info h2 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;

  color: #eb0029;

  max-width: 409px;
}

header > .main > .wrapper > .content .info h5 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;

  color: #181818;

  margin-top: 24px;
}

header > .main > .wrapper > .content .info-text {
  margin-top: 80px;
  max-width: 624px;
  max-height: 532px;
  padding-right: 101px;
  box-sizing: border-box;
  overflow: auto;
}

header > .main > .wrapper > .content .info-text h6 {
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #eb0029;
}

header > .main > .wrapper > .content .info-text p {
}

header > .main > .wrapper > .content > .info-text::-webkit-scrollbar {
  width: 8px;
}

header > .main > .wrapper > .content > .info-text::-webkit-scrollbar-track {
  background: #f9f9f9;
}

header > .main > .wrapper > .content > .info-text::-webkit-scrollbar-thumb {
  background-color: #181818;
  border-radius: 8px;
}

@media (max-width: 768px) {
  

  header > .main > .wrapper > .content {
    display: block;
    justify-content: space-between;
    height: 100%;
    margin-left: 0px;
  }

  header > .main > .wrapper > .content .info span {
  font-weight: 400px;
  font-size: 8px;
}

header > .main > .wrapper > .content .info h2 {
  font-size: 24px;
  line-height: 32px;
  width: 311px;
}

header > .main > .wrapper > .content .info h5 {
  font-size: 14px;
  line-height: 22px;
  color: #181818;
  margin-top: 8px;
  width: 311px;
}

header > .main > .wrapper > .content .info-text h6 {
  font-size: 14px;
  font-weight: normal;
  color: #eb0029;
  width: 311px;
  font-style: normal;
}

header > .main > .wrapper > .content .info-text {
  margin-top: 40px;
}

header > .main > .wrapper > .content > .info-text p{
  font-family: Nunito Sans;
  width: 311px;
  font-weight: 400;
  font-size: 14px;

}

}
