html,
body {
  margin: 0;
  padding: 0;
  font-family: Nunito Sans;
  background-color: rgb(235, 235, 235);
}

body {
  display: flex;
  flex-direction: column;
  min-width: 1440px;
}

header,
main,
footer {
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
