html,
body {
  margin: 0;
  padding: 0;
  font-family: Nunito Sans;
  background-color: rgb(235, 235, 235);
}

body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
}

header,
main,
footer {
  background: white;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

@media (min-width: 768px) {
  body {
    min-width: 1440px;
  }
}

/* SIDEBAR */
/* INDEX 1.1 */

#sidebar {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 91;

  display: flex;
  flex-direction: row;

  width: 80px;
  transition: width 1s ease;
}

#sidebar > .bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #181818;

  min-width: 80px;
  max-width: 80px;

  min-height: 900px;
  max-height: 900px;

  transition: background-color 0.5s ease;
}

#sidebar > .bar > .buttons {
  position: relative;
  min-width: 80px;
  min-height: 780px;
  max-height: 780px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#sidebar > .bar > .buttons img {
  cursor: pointer;
}

#sidebar > .bar > .buttons .menu {
  margin-top: 72px;
}

#sidebar > .bar > .buttons .menu #sidebar-menu-open {
  position: absolute;
  pointer-events: all;
  opacity: 1;
  transition: opacity 0.5s ease;
}
#sidebar > .bar > .buttons .menu #sidebar-menu-close {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s ease;
}

#sidebar > .bar > .buttons .social {
  position: absolute;
  bottom: 0;

  display: flex;
  flex-direction: column;
  padding: 35px 0px;
}

#sidebar > .bar > .buttons .social img {
  margin-top: 30px;
}

#sidebar > .bar .home {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #eb0029;

  min-height: 80px;
  min-width: 80px;
}

#sidebar > .bar .home a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* SIDEBAR CONTENT */
#sidebar > .content {
  overflow: hidden;

  background: #181818;
  color: white;

  width: 0;
  transition: width 1s ease;

  white-space: nowrap;
}

#sidebar > .content .wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 189px;
}

#sidebar > .content .wrapper > .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-top: 60px; */
  height: 168px;

  border-bottom: 0.5px solid #e1e1e1;
}

#sidebar > .content .wrapper > .header > .search {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  transition: width 0.3s ease-in-out;
  margin-right: 32px;
  width: 48px;
}

#sidebar > .content .wrapper > .header > .search > .search-bar {
  padding: 8px;
  border: 1px solid #e1e1e125;
}

#sidebar > .content .wrapper > .header > .search > .search-bar > button {
  top: 8px;
  right: 8px;
}

#sidebar > .content .wrapper > .header > .search:focus-within {
  width: 406px;
}

#sidebar > .content .wrapper > .body .menu {
  margin-top: 121px;
}

#sidebar > .content .wrapper > .body .menu > ul li {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;

  color: #ffffff;

  margin-bottom: 40px;
}

#sidebar > .content .wrapper > .body .menu > ul li.dropdown {
  position: relative;
  display: flex;
}

#sidebar
  > .content
  .wrapper
  > .body
  .menu
  > ul
  li.dropdown
  > .dropdown-content {
  transform: scaleY(0);
  transform-origin: 50% 0%;

  position: absolute;
  display: flex;
  flex-direction: column;
  top: 10px;
  left: 336px;
  z-index: 1;
  transition: transform 0s ease;
}

#sidebar
  > .content
  .wrapper
  > .body
  .menu
  > ul
  li.dropdown
  > a:focus
  + .dropdown-content,
#sidebar
  > .content
  .wrapper
  > .body
  .menu
  > ul
  li.dropdown
  > .dropdown-content:hover,
#sidebar
  > .content
  .wrapper
  > .body
  .menu
  > ul
  li.dropdown
  > .dropdown-content
  a:focus,
#sidebar
  > .content
  .wrapper
  > .body
  .menu
  > ul
  li.dropdown
  > .dropdown-content:focus {
  display: flex;
  transform: scaleY(1);
  z-index: 2;
  transition: transform 0.5s ease;
}

#sidebar > .content .wrapper ul a:focus,
#sidebar > .content .wrapper ul a:hover,
#sidebar
  > .content
  .wrapper
  > .body
  .menu
  > ul
  li.dropdown
  > .dropdown-content
  a:hover {
  color: #ff1f46;
}

#sidebar > .content .wrapper > .body .menu > ul li.dropdown > a::after {
  margin-left: 19px;
  content: url("../images/icons/arrows/24_arrow_right.svg");
}

#sidebar
  > .content
  .wrapper
  > .body
  .menu
  > ul
  li.dropdown
  > .dropdown-content
  > a {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;

  margin-bottom: 32px;
}

#sidebar
  > .content
  .wrapper
  > .body
  .menu
  > ul
  li.dropdown
  > .dropdown-content
  > :last-child {
  margin-bottom: 0px;
}

#sidebar > .content .wrapper > .footer {
  display: flex;
  align-items: flex-end;
  flex: 1;
}

#sidebar > .content .wrapper > .footer ul {
  margin: 0;
  margin-bottom: 80px;
  display: flex;
  list-style-type: none;
}

#sidebar > .content .wrapper > .footer ul li {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #ffffff;

  margin-left: 80px;
}

#sidebar > .content .wrapper > .footer ul > :first-child {
  margin-left: 0px;
}
/* INDEX 1.1.1 */
/*Sidebar open*/
#sidebar.open {
  width: calc(100% - 80px);
  background: transparent;
}

/*SIDEBAR OPEN BAR*/
#sidebar.open > .bar {
  background: #eb0029;
}

#sidebar.open > .bar > .buttons .menu #sidebar-menu-open {
  position: absolute;
  pointer-events: none;
  opacity: 0;
}
#sidebar.open > .bar > .buttons .menu #sidebar-menu-close {
  pointer-events: all;
  opacity: 1;
}

#sidebar.open > .bar > .buttons .social.closed {
  opacity: 0;
  pointer-events: all;
}

#sidebar.open > .bar > .buttons .social.open {
  opacity: 1;
  pointer-events: none;
}

#sidebar.open > .bar > .slide-counter span {
  cursor: default;
  opacity: 0;
}

/*SIDEBAR OPEN CONTENT*/

#sidebar.open > .content {
  /*flex: 1;*/
  width: 100%;
}

/* HEADER TOP NAV*/
/* INDEX 1 */
header {
  position: relative;
  display: flex;
  height: 900px;
}

/* INDEX 1.2*/
header > .main {
  position: relative;
  margin-left: 80px;
  width: 100%;
  overflow: hidden;
}

header > .main > .wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  height: 100%;
}

header > .main > .wrapper > .header {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  height: 108px;
  border-bottom: 0.5px solid #e1e1e1;

  margin-left: 109px;
}

header > .main > .wrapper > .header .logo {
  /* margin-right: 188px; */
}

header > .main > .wrapper > .header .nav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  font-weight: 800;
  font-size: 14px;
  letter-spacing: 0.05em;
  line-height: 22px;

  text-transform: uppercase;
}

header > .main > .wrapper > .header .nav a {
  color: black;
}

header > .main > .wrapper > .header .nav ul {
  display: flex;
  align-items: center;
  margin-top: 7px;
  margin-bottom: 0px;
  list-style-type: none;
  padding: 0px;
}

header > .main > .wrapper > .header .nav ul li {
  cursor: pointer;
  margin-left: 56px;
}

header > .main > .wrapper > .header .nav ul > :first-child {
  margin-left: 0px;
}

header > .main > .wrapper > .header .nav ul > :last-child {
  margin-left: 32px;
  background-color: #eb0029;
  padding: 6px 28.5px 5px 28.5px;
  border-radius: 32px;
}

header > .main > .wrapper > .header .nav ul > :last-child a {
  color: white;
}

header > .main > .wrapper > .header .nav .search {
  width: 48px;
  margin-right: 87px;
  margin-left: 67px;

  display: flex;
  justify-content: flex-end;

  /* min-width: 200px; */
  transition: width 0.5s ease;
}

header > .main > .wrapper > .header .nav .search:focus-within {
  width: 200px;
}

header > .main > .wrapper > .header .nav .search > .search-bar {
  background: transparent;
}

/* HEADER GLOBAL CONTENT */
header > .main > .wrapper > .content {
  margin-left: 109px;
  margin-right: 80px;
}

/* TUTORIAL VIDEO*/
.tutorial .box {
  position: relative;
  background-color: #181818;
  display: flex;

  min-height: 480px;
  height: 100%;
  min-width: 288px;

  overflow: hidden;

  transition: flex 1s;
}

.tutorial .box > video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* z-index: 1; */
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;

  background-color: #000000;
}

.tutorial .box > .background {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  /* z-index: 1; */

  transition: opacity 1s ease;
}

.tutorial .box > .overlay {
  position: absolute;
  width: 100%;
  height: 100%;

  background: #181818;
  mix-blend-mode: multiply;
  opacity: 0.75;

  /* z-index: 2; */
  pointer-events: none;
}

.tutorial .box > .fullscreen,
.tutorial .box > .wrapper {
  z-index: 1;
}

.tutorial .box > .fullscreen {
  cursor: pointer;

  position: absolute;
  top: 16px;
  right: 16px;
}

.tutorial .box > .wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  pointer-events: none;
}

.tutorial .box > .wrapper .play {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-top: 32px;
}

.tutorial .box > .wrapper .play img {
  cursor: pointer;
  pointer-events: all;
}

.tutorial .box > .wrapper .tutorial-content {
  flex: 0;
  height: 100%;
  margin: 32px;
}

.tutorial .box > .wrapper .tutorial-content h5 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;

  color: #ffffff;
}

.tutorial .box > .wrapper .tutorial-content span {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  color: #ffffff;
}

/*TUTORIAL PLAYING*/
.tutorial.playing {
  min-height: 480px;
}

.tutorial.playing .box {
  transition: flex 1s;
}

.tutorial.playing .box > .background,
.tutorial.playing .box > .overlay,
.tutorial.playing .box > .fullscreen,
.tutorial.playing .box > .wrapper {
  opacity: 0;
  transition: opacity 1s ease;
}

.tutorial.playing .box:hover > .wrapper,
.tutorial.playing .box:hover > .fullscreen {
  opacity: 1;
  transition: opacity 1s ease;
}

.tutorial.playing .box:hover > .overlay {
  opacity: 0.75;
  transition: opacity 1s ease;
}

/* TUTORIAL FULLSCREEN */
.tutorial.fullscreen {
  /* position: fixed;
  bottom: 0;
  left: 0;

  margin: 0 ;

  background-color: #000000;
  transition: background-color 0.5s;
  /* top: 50%;
  left: 50%;

  margin-right: -50%;
  transform: translate(-50%, -50%); */

  /* width: 100%;
  height: 100%; */

  /* transition:  width 1s; */

  /* z-index: 999 !important;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;  */
}

.tutorial.fullscreen .box {
  position: relative;
  flex: 1;
}

.tutorial.fullscreen .box > video {
  min-height: auto;
  min-width: auto;
  object-fit: contain;
}

/* .tutorial.fullscreen .box > .overlay,
.tutorial.fullscreen .box > .background,
.tutorial.fullscreen .box > .fullscreen,
.tutorial.fullscreen .box > .wrapper {
  z-index: 99;
} */

/* FORMS */

form > :not(:first-child) {
  margin-top: 16px;
}

form > .form-row {
  display: flex;
}

form > .form-row > :not(:first-child) {
  margin-left: 32px;
}
#map {
  height: 240px;
  width: 100%;
}
/* INPUT */
.input-group {
  position: relative;
  width: 100%;
  min-height: 48px;
}

.input-group > .input {
  width: 100%;
  min-width: 187px;
  min-height: 48px;

  border: 1px solid #e1e1e1;
  border-radius: 80px;
  box-sizing: border-box;
  padding-left: 28px;
  padding-right: 48px;

  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.input-group > label {
  position: absolute;

  top: 14px;
  left: 28px;

  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.125em;

  transition: top 0.2s ease, transform 0.2s ease, font-size 0.2s ease;

  pointer-events: none;

  white-space: nowrap;
}

.input-group > img {
  position: absolute;

  right: 16px;
  top: 14px;

  pointer-events: none;
}

.input-group > textarea.input {
  padding-top: 14px;
  border-radius: 24px;
  min-height: 144px;

  resize: none;
}

.input-group > input::-webkit-outer-spin-button,
.input-group > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input-group > input[type="number"] {
  -moz-appearance: textfield;
}

/* .input-group > select ~ img {
  transform: rotate(-90deg);
  transition: transform 0.2s;
} */

.input-group > input:not(:placeholder-shown) + label,
.input-group > input:focus + label,
.input-group > textarea:not(:placeholder-shown) + label,
.input-group > textarea:focus + label,
.input-group > select:focus + label,
.input-group > select:not([value=""]):valid + label {
  top: 0;
  transform: translateY(30%);

  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 16px;

  color: #6c6c6c;
}

/* 
.input-group > select:focus ~ img,
.input-group > select:not([value=""]):valid ~ img {
  transform: rotate(0deg);
} */

/* REMOVE EXPAND ARROW*/
.input-group > select {
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.input-group > select::-ms-expand {
  display: none;
}

/* SEARCH BAR */
.search-bar {
  position: relative;
  border-radius: 48px;
  width: 48px;
  min-width: 48px;
  min-height: 48px;
  display: flex;
  flex-direction: row-reverse;
  transition: width 0.3s ease-in-out;

  overflow: hidden;
}

.search-bar > input {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  flex-grow: 1;
  padding: 0px 32px;
  width: calc(100% - 48px - 32px);

  background: transparent;
  border: none;

  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;

  letter-spacing: 0.125em;

  color: black;

  outline: none;
  cursor: pointer;
}

.search-bar > input::placeholder {
  text-transform: uppercase;
  color: black;
}

.search-bar.black {
  background: #181818;
}

.search-bar.black > input {
  color: #ffffff;
}

.search-bar.black > input::placeholder {
  color: #ffffff;
}

.search-bar > button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  background: transparent;

  width: 48px;
  height: 48px;

  border-radius: 50%;
  outline: none;

  margin-left: auto;
  pointer-events: none;
}

.search-bar:focus-within {
  width: 100%;
}

.search-bar:focus-within > input {
  cursor: initial;
  opacity: 1;
}

/* FOOTER CONTENT */
footer > .contact-us-form {
  margin: 80px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer > .contact-us-form > .content {
  width: 515px;
}

footer > .contact-us-form > .content span {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;

  letter-spacing: 0.125em;
  text-transform: uppercase;
  color: #181818;
}

footer > .contact-us-form > .content h2 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;

  color: #eb0029;
}

footer > .contact-us-form > .content h5 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;

  color: #181818;

  margin-top: 24px;
}

footer > .contact-us-form > form {
  width: 624px;
  margin-top: 56px;
}

footer > .contact-us-form > form .submit {
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 54px;

  background: #eb0029;
  border-radius: 56px;

  width: 100%;
  border: none;

  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;

  text-transform: uppercase;
  text-align: center;

  color: #ffffff;
}

footer > .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 120px;
  width: 100%;

  padding: 0px 80px;

  box-sizing: border-box;

  background: #181818;
}

footer > .footer .info {
  display: flex;
}

footer > .footer .info > :not(:first-child) {
  margin-left: 42px;
}

footer > .footer .info section {
  display: flex;
  align-items: center;
}

footer > .footer .info section > :not(:first-child) {
  margin-left: 16px;
}

footer > .footer .info section h6 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 24px;

  color: #ffffff;
}

footer > .footer .social,
footer > .footer .social a {
  display: flex;
  align-items: center;
}

footer > .footer .social > :not(:first-child) {
  margin-left: 18px;
}

@media (max-width: 768px) {
  #sidebar {
    top: 0;
    /* left: calc(100% - 80px); */

    flex-direction: row-reverse;
    width: 100%;
    height: 82px;
    overflow: hidden;

    transition: height 1s ease;
  }

  #sidebar > .bar {
    min-height: 667px;
    max-height: 667px;
    min-width: 71px;
    max-width: 71px;
    background: transparent;
  }

  
  #sidebar #sidebar-menu-open {
    content: url("../images/icons/menu/menu_red.svg");
  }

  #sidebar > .bar > .buttons {
    min-height: 667px;
    max-height: 667px;
    min-width: 71px;
    max-width: 71px;
  }

  #sidebar > .bar > .buttons .social {
    visibility: hidden;
    opacity: 0;
  }

  #sidebar > .bar > .slide-counter {
    display: none;
  }

  #sidebar > .bar > .buttons .menu {
    margin-top: 33px;
  }

  /*SIDEBAR CONTENT*/
  #sidebar > .content .wrapper {
    margin-left: 54px;
  }

  #sidebar > .content .wrapper > .header {
    height: 82px;
    justify-content: flex-end;
  }

  #sidebar > .content .wrapper > .header .logo {
    display: none;
  }

  #sidebar > .content .wrapper > .body .menu {
    margin-top: 76px;
  }

  #sidebar > .content .wrapper > .body .menu > ul {
    padding-left: 18px;
  }

  #sidebar > .content .wrapper > .body .menu > ul li {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;

    color: #ffffff;

    margin-bottom: 24px;
  }

  #sidebar > .content .wrapper > .body .menu > ul li.dropdown {
    flex-direction: column;
  }

  #sidebar
    > .content
    .wrapper
    > .body
    .menu
    > ul
    li.dropdown
    > .dropdown-content {
    position: relative;

    top: 16px;
    left: 30px;
    height: 0px;

    transition: height 0.2s ease;
  }

  #sidebar
    > .content
    .wrapper
    > .body
    .menu
    > ul
    li.dropdown
    > .dropdown-content
    a {
    margin-bottom: 16px;
  }

  #sidebar
    > .content
    .wrapper
    > .body
    .menu
    > ul
    li.dropdown
    > a:focus
    + .dropdown-content,
  #sidebar
    > .content
    .wrapper
    > .body
    .menu
    > ul
    li.dropdown
    > .dropdown-content:hover,
  #sidebar
    > .content
    .wrapper
    > .body
    .menu
    > ul
    li.dropdown
    > .dropdown-content
    a:focus,
  #sidebar
    > .content
    .wrapper
    > .body
    .menu
    > ul
    li.dropdown
    > .dropdown-content:focus {
    height: 166px;
  }

  #sidebar > .content .wrapper > .footer ul {
    margin-bottom: 32px;
    flex-direction: column;
    padding-left: 18px;
  }

  #sidebar > .content .wrapper > .footer ul li {
    margin-left: 0px;
  }

  /*OPEN*/
  #sidebar.open {
    width: 100%;
    height: 667px;
    background: transparent;
  }

  #sidebar.open > .bar > .buttons .social {
    opacity: 1;
    visibility: visible;
  }

  /* HEADER MAIN */
  header {
    height: 667px;
  }

  header > .main {
    margin-left: 0px;
  }

  header > .main > .wrapper > .header {
    margin-top: 24px;
    margin-left: 32px;
    height: 58px;
  }
  header > .main > .wrapper > .header > .nav {
    display: none;
  }

  /* TUTORIAL */
  .tutorial .box {
    min-height: 266px;
    height: 266px;
    max-width: 100%;
    min-width: auto;
  }

  .tutorial .box > .wrapper .play img {
    width: 40px;
    margin-top: 62px;
  }

  .tutorial .box > .wrapper .tutorial-content {
    margin: 16px;
  }

  .tutorial .box > .wrapper .tutorial-content h5 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
  }

  .tutorial .box > .wrapper .tutorial-content span {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
  }

  .tutorial.playing {
    min-height: 266px;
  }

  /* FOOTER */
  /* CONTACTS US FORM */
  footer > .contact-us-form {
    margin: 40px 0px 40px 0px;
    padding: 0px 32px;
    width: 100%;

    box-sizing: border-box;
  }

  footer > .contact-us-form > .content {
    width: 100%;
  }

  footer > .contact-us-form > .content span {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 20px;

    letter-spacing: 0.125em;
  }

  footer > .contact-us-form > .content h2 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
  }

  footer > .contact-us-form > .content h5 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;

    margin-top: 8px;
  }

  footer > .contact-us-form > form {
    margin-top: 32px;
    width: 100%;
  }

  footer > .contact-us-form > form .submit {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;

    padding: 7px 38px;
    box-sizing: border-box;

    width: 187px;
    align-self: center;
  }

  footer > .footer {
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 0px 40px 32px;

    box-sizing: border-box;
  }

  footer > .footer > .logo {
    border-bottom: 1px solid #6c6c6c;
    width: 100%;

    padding: 0px 0px 40px 0px;
  }

  footer > .footer > .logo img {
    max-height: 32px;
    width: auto;
  }

  footer > .footer .info {
    flex-direction: column;
    padding: 40px 14px;
  }

  footer > .footer .info > :not(:first-child) {
    margin: 24px 0px 0px 0px;
  }

  footer > .footer .info section h6 {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 22px;
  }

  footer > .footer .social {
    width: calc(100% - 32px);
    justify-content: center;

  }

  /* FORM */
  form > .form-row {
    display: flex;
    flex-direction: column;
  }

  form > .form-row > :not(:first-child) {
    margin-left: 0;
    margin-top: 16px;
  }



  header > .main > .wrapper > .content {
    margin: 0px 32px 0px 32px;
  }
}
