html,
body {
  margin: 0;
  padding: 0;
  font-family: Nunito Sans;
  background-color: rgb(235, 235, 235);
}

body {
  display: flex;
  flex-direction: column;
  min-width: 1440px;
}

header,
main,
footer {
  background: white;
}

footer {
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* TUTORIAL VIDEO*/
.tutorial .box {
  position: relative;
  background-color: #181818;
  display: flex;

  min-height: 480px;
  min-width: 296px;

  overflow: hidden;

  transition: flex 1s, height 1s, min-height 1s ease;
}

.tutorial .box > video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;

  background-color: #000000;
}

.tutorial .box > .background {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;

  transition: opacity 1s ease;
}

.tutorial .box > .overlay {
  position: absolute;
  width: 100%;
  height: 100%;

  background: #181818;
  mix-blend-mode: multiply;
  opacity: 0.75;

  z-index: 2;
  pointer-events: none;
}

.tutorial .box > .fullscreen,
.tutorial .box > .wrapper {
  z-index: 3;
}

.tutorial .box > .fullscreen {
  cursor: pointer;

  position: absolute;
  top: 16px;
  right: 16px;
}

.tutorial .box > .wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  pointer-events: none;
}

.tutorial .box > .wrapper .play {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-top: 32px;
}

.tutorial .box > .wrapper .play img {
  cursor: pointer;
  pointer-events: all;
}

.tutorial .box > .wrapper .tutorial-content {
  flex: 0;
  height: 100%;
  margin: 32px;
}

.tutorial .box > .wrapper .tutorial-content h5 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;

  color: #ffffff;
}

.tutorial .box > .wrapper .tutorial-content span {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;

  color: #ffffff;
}

/*TUTORIAL PLAYING*/
.tutorial.playing {
  min-height: 480px;
}

.tutorial.playing .box {
  min-height: 0;
  transition: flex 1s, height 1s, min-height 1.5s ease;
}

.tutorial.playing .box > .background,
.tutorial.playing .box > .overlay,
.tutorial.playing .box > .fullscreen,
.tutorial.playing .box > .wrapper {
  opacity: 0;
  transition: opacity 1s ease;
}

.tutorial.playing .box:hover > .wrapper,
.tutorial.playing .box:hover > .fullscreen {
  opacity: 1;
  transition: opacity 1s ease;
}

.tutorial.playing .box:hover > .overlay {
  opacity: 0.75;
  transition: opacity 1s ease;
}

/* TUTORIAL FULLSCREEN */
.tutorial.fullscreen {
  position: fixed;
  top: 0;
  left: 0;

  margin: 0 !important;

  background-color: #000000;
  transition: background-color 0.5s;
  /* top: 50%;
  left: 50%;

  margin-right: -50%;
  transform: translate(-50%, -50%); */

  width: 100% !important;
  height: 100% !important;

  /* transition:  width 1s; */

  z-index: 50;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tutorial.fullscreen .box {
  position: relative;
  flex: 1;
}

/* FORMS */

form > :not(:first-child) {
  margin-top: 16px;
}

form > .form-row {
  display: flex;
}

form > .form-row > :not(:first-child) {
  margin-left: 32px;
}

/* INPUT */
.input-group {
  position: relative;
  width: 100%;
  min-height: 48px;
}

.input-group > .input {
  width: 100%;
  min-width: 187px;
  min-height: 48px;

  border: 1px solid #e1e1e1;
  border-radius: 80px;
  box-sizing: border-box;
  padding-left: 28px;
  padding-right: 48px;

  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.input-group > label {
  position: absolute;

  top: 14px;
  left: 28px;

  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.125em;

  transition: top 0.2s ease, transform 0.2s ease, font-size 0.2s ease;

  pointer-events: none;

  white-space: nowrap;
}

.input-group > img {
  position: absolute;

  right: 16px;
  top: 14px;

  pointer-events: none;
}

.input-group > textarea.input {
  padding-top: 14px;
  border-radius: 24px;
  min-height: 144px;

  resize: none;
}

.input-group > input::-webkit-outer-spin-button,
.input-group > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input-group > input[type="number"] {
  -moz-appearance: textfield;
}

.input-group > select ~ img {
  transform: translateY(-50%) rotate(-90deg);
  transition: transform 0.2s;
}

.input-group > .input:not(:placeholder-shown) + label,
.input-group > .input:focus + label,
.input-group > select:focus + label,
.input-group > select:not([value=""]):valid + label {
  top: 0;
  transform: translateY(30%);

  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 16px;

  color: #6c6c6c;
}

.input-group > select:focus ~ img,
.input-group > select:not([value=""]):valid ~ img {
  transform: translateY(-50%) rotate(0deg);
}

/* REMOVE EXPAND ARROW*/
.input-group > select {
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.input-group > select::-ms-expand {
  display: none;
}

/* SEARCH BAR */
.search-bar {
  position: relative;
  background: #181818;
  border-radius: 48px;
  width: 48px;
  min-width: 48px;
  display: flex;

  transition: width 0.3s ease-in-out;

  overflow: hidden;
}

.search-bar > input {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  flex-grow: 1;
  padding: 0px 32px;
  width: 100%;
  background: transparent;
  border: none;

  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;

  letter-spacing: 0.125em;

  color: #ffffff;

  outline: none;
  cursor: pointer;
}

.search-bar > input::placeholder {
  text-transform: uppercase;
  color: #ffffff;
}

.search-bar > button {
  cursor: pointer;

  border: none;
  background: transparent;

  width: 48px;
  height: 48px;

  border-radius: 50%;
  outline: none;

  margin-left: auto;
}

.search-bar:focus-within {
  width: 100%;
}

.search-bar:focus-within > input {
  cursor: initial;
  opacity: 1;
}

/* FOOTER CONTENT */
.contact-us-form {
  margin: 80px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-us-form > .content {
  width: 515px;
}

.contact-us-form > .content span {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;

  letter-spacing: 0.125em;
  text-transform: uppercase;
  color: #181818;
}

.contact-us-form > .content h2 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;

  color: #eb0029;
}

.contact-us-form > .content h5 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;

  color: #181818;
}

.contact-us-form > form {
  width: 624px;
  margin-top: 56px;
}

.contact-us-form > form .submit {
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 18px 54px;

  background: #eb0029;
  border-radius: 56px;

  width: 100%;
  border: none;

  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;

  text-transform: uppercase;
  text-align: center;

  color: #ffffff;
}
