html,
body {
  margin: 0;
  padding: 0;
  font-family: Nunito Sans;
  background-color: #000000;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header,
main,
footer {
  width: 1440px;
}
